@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Noto Sans Arabic,
    sans-serif;
}
body {
  background: linear-gradient(to bottom, #eed8d8, #ffffff, #f1d5b1);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
