.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.nav-logo {
  position: absolute;
  right: 50px;
  height: auto;
  width: 50px;
  opacity: 0.9;
  mix-blend-mode: multiply;
  object-fit: contain;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #c9a66b;
  font-size: 16px;
  transition: 0.3s;
  display: inline-block;
}
.nav-links a:hover {
  color: #d4a5a5;
  transform: scale(1.1);
}
