.footer {
  padding: 60px 40px;
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  color: #c9a66b;
}
.links {
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #c9a66b;
  transition: 0.3s;
}
.links a:hover {
  color: #d4a5a5;
}
.contact p {
  color: #c9a66b;
}
.footer-contact {
  right: 20px;
  bottom: 50px;
  padding: 15px;
  border-radius: 12px;
<<<<<<< HEAD
=======

>>>>>>> b0c18a8526c48c08820861b2b133f9df9be66353
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> b0c18a8526c48c08820861b2b133f9df9be66353
.footer-contact a {
  text-decoration: none;
  color: #c9a66b;
  font-size: 14px;
}
<<<<<<< HEAD
=======

>>>>>>> b0c18a8526c48c08820861b2b133f9df9be66353
.footer-contact a:hover {
  opacity: 0.7;
}
.footer-logo {
  position: absolute;
  left: 70px;
  height: auto;
  top: 120px;
  width: 60px;
  opacity: 0.7;
  mix-blend-mode: multiply;
  object-fit: contain;
}
.copyright {
  text-align: center;
  margin-top: 170px;
  color: #888;
}
.footer-contact-link {
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 5px;
  color: #c9a66b;
  text-decoration: none;
  transition: 0.3s;
  font-family:
    Noto Sans Arabic,
    sans-serif;
}
.footer-contact-link:hover {
  color: #c9a66b;
}
