.offers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  background: transparent;
}
.offer-card {
  background: linear-gradient(to bottom, #ece2e2, #ffffff, #efd9bd);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  max-width: 320px;
  width: 100%;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}
.offer-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 20px 50px rgba(255, 182, 193, 0.35);
}
.offer-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.offers-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.offers-content h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222222;
}
.offers-content p {
  font-size: 1rem;
  color: #555555;
  line-height: 1.5;
}
.termine-button {
  padding: 20px 40px;
  background: linear-gradient(45deg, #ff6f91, #ff9472);
  color: white;
  border-radius: 60px;
  text-decoration: none;
  transition: 1.5s;
  border: none; /* wichtig für button */
  cursor: pointer;
}
.termine-button:hover {
  background-color: #5848c2;
  transform: scale(1.05);
}
