.booking-container {
  padding: 20px;
}

.booking-container h2 {
  margin-bottom: 20px;
}

.no-bookings {
  color: #c9a66b;
  font-size: 16px;
}

.booking-card {
  background: white;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-card p {
  margin: 6px 0;
}

.btn-delete {
  background: #ff7aa2;
  color: #c9a66b;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.beauty-form {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.beauty-input {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.beauty-form-buttons {
  display: flex;
  gap: 10px;
}
.beauty-card {
  background: linear-gradient(to bottom, #f9dede, #ffffff, #f9eddd);
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.short-content {
  color: #666;
}
.price {
  font-weight: bold;
  margin: 8px 0;
}
.beauty-card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-cancel {
  background: gray;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-edit {
  background: #c9a66b;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-delete {
  background: #f1b9b9;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar {
  width: 220px;
  min-height: 100vh;
  background-color: rgb(16, 15, 15);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: rgb(16, 15, 15);
  transition: background 0.3s;
}
.sidebar nav a:hover {
  background-color: #c9a66b;
}
.sidebar nav a.active {
  background-color: #c9a66b;
}
